# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Project specific
config/secrets.py
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# API Keys
.env

# Logs
*.log

# Model files
*.h5
*.pkl
